<ion-header>
  <ion-navbar>
    <ion-title>Registros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/swipe.png">
      </ion-avatar>
      <h2>Arraste para esquerda</h2>
      <p>Para editar ou excluir</p>
    </ion-item>
  </ion-card>

  <ion-list>

    <ion-item-sliding *ngFor="let reg of registros; let i = index">
      <ion-item>

        <h2><b>{{reg.data | date:'dd/MM/yyyy'}}</b></h2>

        <span *ngIf="reg.turno == 1">
          Matutino
        </span>
        <span *ngIf="reg.turno == 2">
          Vespertino
        </span>
        <span *ngIf="reg.turno == 3">
          Noturno
        </span>

        <span *ngIf="reg.intensidade == 1">
          - Ameaça
        </span>
        <span *ngIf="reg.intensidade == 2">
          - Fraca
        </span>
        <span *ngIf="reg.intensidade == 3">
          - Moderada
        </span>
        <span *ngIf="reg.intensidade == 4">
          - Forte
        </span>

        <p>{{reg.observacao}}</p>

      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="primary" (click)='editarRegistro(reg.id)'>
          <ion-icon name="create"></ion-icon>
          Editar
        </button>
        <button ion-button color="danger" (click)='excluirRegistro(reg.id)'>
          <ion-icon name="trash"></ion-icon>
          Apagar
        </button>
      </ion-item-options>
      <!--
            <ion-item-options side="left">
              <button ion-button color="danger" (click)='excluirRegistro(reg.id)'>
                <ion-icon name="trash"></ion-icon>
                Apagar
              </button>
          </ion-item-options>
  -->
    </ion-item-sliding>

  </ion-list>
</ion-content>