<!--
  Generated template for the RelatorioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Relatório</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- UTILIZAR PARA EXIBIÇÃO DA QUANTIDADE DE CRISES RETORNADAS DE ACORDO COM O FILTRO APLICADO-->
  <!--
    <ion-item>
      Crises
      <ion-badge item-end>260k</ion-badge>
    </ion-item>
  -->
  <ion-title>Filtros</ion-title>

  <form [formGroup]="formRel" (ngSubmit)="GeraRelatorio()">

      <ion-item>
          <ion-label color="primary" floating>Data Início</ion-label>
          <ion-datetime formControlName="dataInicio" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="formRel.get('dataInicio').errors && formRel.get('dataInicio').dirty">
        <p color="danger" ion-text *ngIf="formRel.get('dataInicio').hasError('required')">Campo Obrigatório</p>
      </ion-item>

      <ion-item>
          <ion-label color="primary" floating>Data Fim</ion-label>
          <ion-datetime formControlName="dataFim" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="formRel.get('dataFim').errors && formRel.get('dataFim').dirty">
        <p color="danger" ion-text *ngIf="formRel.get('dataFim').hasError('required')">Campo Obrigatório</p>
      </ion-item>

      <ion-item> 
          <ion-label color="primary">Tipo</ion-label>
          <ion-select interface="action-sheet" formControlName="tipo">      
            <ion-option value="1">Totalizadores</ion-option>
            <ion-option value="2">Detalhado</ion-option>
          </ion-select>
      </ion-item>
      <ion-item *ngIf="formRel.get('tipo').errors && formRel.get('tipo').dirty">
        <p color="danger" ion-text *ngIf="formRel.get('tipo').hasError('required')">Campo Obrigatório</p>
      </ion-item>

      <div class="pdt10">
          <button type="submit" ion-button block [disabled]="!formRel.valid">Gerar</button>
      </div>
  </form>

</ion-content>
